# Python
venv/
__pycache__/
*.pyc

# Logs
logs/
*.log
backend/logs/

# Database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/

# Environment
.env
.env.local

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db